* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive;
}

.game {
  /* display: none; */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 520px;
  font-size: 30px;
}

.container {
  margin-bottom: 20px;
}

.area {
  display: flex;
  flex-wrap: wrap;
  width: 525px;
  height: 525px;
  margin: 0 auto;
  font-size: 30px;
}

.box {
  margin: 1px;
  padding: 3px;
  text-align: center;
  font-size: 110px;
  width: 173px;
  height: 173px;
  border: 4px solid black;
  border-radius: 10px;
}

.countX {
  text-align: center;
  margin-top: 50px;
}

.countX_X {
  color: blue;
}

.countO {
  text-align: center;
  margin-top: 50px;
}

.countO_O {
  color: red;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  width: 520px;
  font-size: 20px;
}

.clear {
  width: 170px;
  border: 1px solid black;
}

.resetScore {
  width: 170px;
  border: 1px solid black;
}